<% content_for(:title, t('.title')) %>

<div class="max-w-3xl mx-auto px-4 py-12">
  <h1 class="text-3xl font-bold text-gray-800 mb-6 border-b pb-2">
    <%= t(".title") %>
  </h1>

  <div class="bg-white shadow-md rounded-lg p-6 max-h-[500px] overflow-y-auto border border-gray-200">
    <pre class="whitespace-pre-wrap font-sans text-sm leading-relaxed">
      <%= File.read(Rails.root.join('app/views/static_pages/privacy.txt')) %>
    </pre>
  </div>
</div>
