<div>
  <div>
    <h1>HiBilog</h1>
      <p>今日も一つ、心に残るログを。</p>
    <div>
      <!-- ユーザー登録ボタン -->
      <%= link_to 'ユーザー登録', "" %>
      
      <!-- ログインボタン -->
      <%= link_to 'ログイン', "" %>
    </div>
  </div>
</div>