<div id="bookmark-<%= diary.id %>" class="flex items-center space-x-1">
  <% if current_user.bookmark?(diary) %>
    <%= render 'diaries/unbookmark', diary: diary %>
  <% else %>
    <%= render 'diaries/bookmark', diary: diary %>
  <% end %>
  <span class="text-gray-600"><%= diary.bookmarks.count %></span>
</div>
