<aside class="w-64 bg-gray-200 h-screen shadow-md flex flex-col">
  <!-- ナビゲーションリンク -->
  <nav class="flex flex-col mt-4 space-y-2 px-4">
    <!-- マイページ -->
    <div>
    <%= link_to 'マイページ', mypage_path, 
        class: "text-zinc-800 text-base font-normal font-['Inter'] hover:underline" %>
    </div>
    <!-- 記事一覧 -->
    <div>
    <%= link_to '記事一覧', diaries_path,  
        class: "text-zinc-800 text-base font-normal font-['Inter'] hover:underline" %>
    </div>
  </nav>
</aside>
