<aside class="w-64 bg-gray-200 h-screen shadow-md flex flex-col">
  <!-- ナビゲーションリンク -->
  <nav class="flex flex-col mt-4 space-y-2 px-4">
    <!-- マイページ -->
    <div>
    <%= link_to t("sidebar.mypage"), mypage_path, 
        class: "text-zinc-800 text-base font-normal font-['Inter'] hover:underline" %>
    </div>
    <!-- 記事一覧 -->
    <div>
    <%= link_to t("sidebar.diary_index"), diaries_path,  
        class: "text-zinc-800 text-base font-normal font-['Inter'] hover:underline" %>
    </div>
    
   <div class="flex items-center space-x-2">
      <%= link_to t("sidebar.notifications"), notifications_path,  
          class: "text-zinc-800 text-base font-normal font-['Inter'] hover:underline relative" %>
      <% unread_notifications = current_user.notifications.where(read: false).exists? %>
      <span class="w-3 h-3 rounded-full <%= unread_notifications ? 'bg-orange-500' : 'bg-gray-400' %>"></span>
    </div>
    
  </nav>
</aside>
